*{
    padding: 0;
    margin: 0;
}
#body{
    background-color: #303736;
}
#header{
    height: 140px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #0c88FC; 
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#img-header{
    height: 110px;
    width: 250px;
    padding-left: 3%;
}
.img-logo{
    display: flex;
    justify-content: center;
    align-content: center;  
}
#boton1{
    text-decoration: none;
    color: white;
    font-family: 'Playpen Sans';
    background-color: #FC7C0c;
}
#BOTON{
    text-decoration: none;
    color: white;
    font-family: 'Playpen Sans';
    background-color: #FC7C0c;
}
#gif{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#gif img{ 
    padding-right: 0px;
    padding-left: 0px;
    height: 730px;
}
#img1{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#img1 img{
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    width: 100%;
}
#text{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #4e0acc;
    font-size: larger;
    font-family: 'Playpen Sans';
    background-color: #FC7C0c;
}
@font-face {
    font-family: 'Playpen Sans';
    src: url(../assets/fuentes/Playpen_Sans/static/PlaypenSans-Regular.ttf);
}
#img2{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#imgimg2 img{
    width: 100%;
    height: 100%;
}
#p {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #A0D700;
    font-size: larger;
    font-family: 'Playpen Sans';
    background-color: #0c88FC;
}
footer img{
    height: 70px;
}
#footer{
    color: white !important;
}

#parte1{
    color: white !important;
}
#parte2{
    color: white !important;
}
#texto{
    padding-left: 2%;
    color: white !important;
}
#ul{
    padding-right: 2%;
}
.registros{
    background-image: url(../assets/img/descarga.gif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
}
#ul2{
    padding-right: 2%;
}
#texto2{
    padding-left: 2%;
    color: white !important;
}
#footer2{
    color: white !important;
}
#parte3{
    color: white !important;
}
#parte4{
    color: white !important;
}
#body2{
    background-color: #303736;
}














